<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">

  <title>Shrubbery search engine</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="/static/favicon.ico">

  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/custom.css">
  <link rel="stylesheet" href="/static/css/bootstrap-responsive.css">
</head>


<body>

<div class="container-fluid">
 <div id="main" role="main">



  <div class="jumbotron">


            {% block content %}{# main content area #}{% endblock %}


   </div>

 </div>
</div>


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/mustache.js"></script>
  <script src="/static/js/custom.js"></script>


</body>
</html>